beancount==2.3.6
beansoup==1.0a6
beautifulsoup4==4.12.3
bottle==0.12.25
cachetools==5.3.2
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
colorama==0.4.6
google-api-core==2.16.2
google-api-python-client==2.116.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
googleapis-common-protos==1.62.0
httplib2==0.22.0
idna==3.6
iniconfig==2.0.0
lxml==5.1.0
packaging==23.2
pdfminer2==20151206
pluggy==1.4.0
ply==3.11
protobuf==4.25.2
pyasn1==0.5.1
pyasn1-modules==0.3.0
pyparsing==3.1.1
pytest==8.0.0
python-dateutil==2.8.2
requests==2.31.0
rsa==4.9
six==1.16.0
soupsieve==2.5
uritemplate==4.1.1
urllib3==2.2.0
